:root{
  --bg: #1B1C20 ;
  --black: #000000 ;
  --white: #F7F9F8 ;
  --red: #FF0000 ;
  --terq: #41FFC0 ;
  --blue: #60A5FF ;
  --grey1: #C1C1C1 ;
  --grey2: #6F6F6F ;
  --grey3: #222225 ;
  --size64: 3rem;
  --size48: 48px;
  --size32: 2rem;
  --size24: 1.5rem;
  --size16: 1rem;
}
*{
  margin: 0;
  padding: 0;
}
body{
        font-family: "Inter", sans-serif;
        color: var(--white);


}
.fnt{
      font-family: "Inter", sans-serif;
}
h1{
    font-family: "Inter", sans-serif;
  font-size: var(--size64);
}
h2{
  font-size: var(--size48);
    font-family: "Inter", sans-serif;

}
h3{
  font-size: var(--size32);
  font-family: "Inter", sans-serif;

}
h4{
  font-size: var(--size24);
  font-family: "Inter", sans-serif;

}
p{
  font-size: var(--size16);
  font-family: "Inter", sans-serif;

}
.page{
    margin: 0 auto;
    padding: 0 40px;
}
.row{
  display: flex;
  flex-direction: row;

}
.col{
  display: flex;
  flex-direction: column;
}
.cen{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

}
body{
  color: var(--white);
  font-family: "Inter", sans-serif;
  background-color: var(--bg);
}
.st1{
  font-weight: 500;
}
.st2{
  font-weight: 700;
}
.st3{
  font-weight: 800;
}
.st4{
  font-weight: 900;
}
.g1{
  color: var(--grey1);
}
.red{
  color: var(--red);
}
.blue{
  color: var(--blue);
}
.terq{
  color: var(--terq);
}
.sb{
  display: flex;
  justify-content: space-between;
}
.width100{
  width: 100%;
}
.cen2{
    margin: 0 auto;
}
.sb{
  justify-content: space-between;
}
.sa{
  justify-content: space-around;
}
.se{
  justify-content: space-evenly;
}
.page2{
  padding: 20px 40px;
  width: 100%;
    min-height: 100vh;
  }
.box1{
  width: 28.125rem;
height: 15.1875rem;
border-radius: 0.625rem;
background: var(--black, #000);
padding: 2%;

}
.sp3{
  padding: 10px 0;
}
.rate{
  border-radius: 0.625rem;
background: var(--black, #000);
 height: 10.1875rem;
 width: 72.8rem;
}
.pp{
  padding: 20px;
}
.sp4{
  padding-bottom: 2%;
}
.mm{
  margin: 5% 0%;
}
.nw{
  text-wrap: nowrap;
}
.g1{
  gap: 5%;
}
.mesg{
height: 49.8125rem;
border-radius: 0.625rem;
background: var(--black, #000);
}
.cat{
  border-radius: 0.625rem;
background: var(--grey-3, #222225);
display: flex;
 padding: 1.25rem 1.75rem;
justify-content: space-between;
align-items: center;
}
a{
    text-decoration: none;
    color: inherit;

}
Link{
    text-decoration: none;
    color: inherit;
}