.div1{
    border-radius: 0.625rem;
    background: rgba(0, 0, 0, 0.10);
    display: flex;
width: 48.3125rem;
padding: 3.1875rem 1.5rem;
flex-direction: column;
justify-content: center;
align-items: baseline;
gap: 2rem;
text-align: left;

}
input[type=submit] {
  width: 100%;
  background-color: var(--red);
  color: white;
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: var(--black);
}

