input{
  border-radius: 0.3125rem;
  background: var(--white, #F7F9F8);
  display: flex;
  padding: 0.9375rem 1.25rem;
  align-items: center;
  gap: 1.25rem;
  align-self: stretch;
  color: var(--grey2);
}
label{
  color: var(--white, #F7F9F8);
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;

}